body{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
form{
  margin: 10px;
}

table{
  border: 1px solid blue;
}
label{
  padding: 5px;
}
label,input {
  margin: 4px;
  
}
.form-control{
  width: 75px;
}
button { 
  margin-top: 4px; 
  margin-left: 8px;
}
button#removeall{
  margin-left: 3px;
}
th{ 
  text-align: center;
}
#score,#insert{
  width: 75px;
}
#register{
  width: 100px; 
}
ul{
  padding-left: 11px;  
  margin: 5px;
}
li{
  background-color: gray;
  position: relative;
  left: 27px;
  display: inline-block;
  border: 1px solid ;
  width: 72px;
  margin: 6px;
  text-align: center;
  color: white;
}
.li_table{
  margin-top: 2px;
  border: 1px solid black;
  
}
#rm{
  padding-left: 2px;
}
#buttr{
  align-items: center;
  text-align: center;
}
/* #case {
  display : inline;
  position: absolute;
} */